:root {
  --primary-stripe-rgb: 240, 165, 0;
  --secondary-stripe-rgb: 217, 118, 0;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  background: radial-gradient(circle, #f9b233, #e58e0e);
}

.diagona l {
  background-size: 18px 18px;
  background-image: linear-gradient(
    -45deg,
    rgb(var(--primary-stripe-rgb)) 25%,
    rgb(var(--secondary-stripe-rgb)) 25%,
    rgb(var(--secondary-stripe-rgb)) 50%,
    rgb(var(--primary-stripe-rgb)) 50%,
    rgb(var(--primary-stripe-rgb)) 75%,
    rgb(var(--secondary-stripe-rgb)) 75%,
    rgb(var(--secondary-stripe-rgb)) 100%
  );
}

.estrelas {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-image: url("imagens/estrela.svg");
  background-repeat: repeat;
  background-size: 5%;
  animation: pan 180s linear infinite;
}

@keyframes pan {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
